[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
djangorestframework = "*"
psycopg2-binary = "*"
python-dotenv = "*"
PyJWT = "*"
passlib = "*"
pillow = "*"
pytz = "*"
celery = "*"
boto3 = "*"
django-filter = "*"
django-storages = "*"

[dev-packages]

[requires]
python_version = "3.8"
